%h1 Bienvenue dans le bon coin de l'ENSIIE
  
%h2 Liste des annonces

%table
  %thead
    %tr
      %th Titre des annonces
      %th
      %th
      %th
  
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= link_to 'Afficher', article
        %td= link_to 'Modifier', edit_article_path(article) if User.find(article.user_id) == current_user || current_user.admin
        %td= link_to 'Supprimer', article, :method => :delete, :data => { :confirm => 'Etes vous sûr?' } if User.find(article.user_id) == current_user || current_user.admin
%br
  = will_paginate @articles
= link_to 'Nouveau article', new_article_path

%br

%p
  = link_to 'Users:', users_path
  = User.count
  enregistrées
