%p#notice= notice
%h3 Présentation de L'offre : 
%p
  %b Titre:
  = @article.title
%p
  %b Description:
  = @article.body
%p
  %b Prix:
  = @article.price
=======================
%p 
  %b Signaler l'annonce comme étant abusive:
  
  %button{:onclick => "alert('Merci du signalement')", :type => "button"} Signaler
  =button_to "Send Email", url: { controller: "articles", action: "report", :user => current_user, :nomarticle => @article.title}, remote: true, head: :ok


= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
