%p#notice= notice
%h3 Présentation de L'offre : 
%p
  %b Titre:
  = @article.title
%p
  %b Description:
  = @article.body
%p
  %b Prix:
  = @article.price
%p
  %b Images:
  = image_tag @article.image1_url :medium if @article.image1_url
  %b
  = image_tag @article.image2_url :medium if @article.image2_url
  %b
  = image_tag @article.image3_url :medium if @article.image3_url
  %b
  = image_tag @article.image4_url :medium if @article.image4_url
%p
  %b Auteur: 
  = @auteur.name 
  = @auteur.firstname
%p
  %b Derniere update :
  = @article.updated_at.to_formatted_s(:long_ordinal)
%p
  Il y a 
  = Time.now.day.to_i - @article.updated_at.day
  jours.	
%p
=======================
%p 
  - if @pas_lauteur
    %b Signaler l'annonce comme étant abusive:
    = button_to "Send Email", report_article_path(@article)


= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
