%p#notice= notice
%h3 Présentation de L'offre : 
%p
  %b Titre:
  = @article.title
%p
  %b Description:
  = @article.body
%p
  %b Prix:
  = @article.price
%p
  %b Images:
  .fotorama{"data-keyboard" => "true","data-nav" => "thumbs", "data-click" => "true", "data-allowfullscreen" => "true", "data-width" => "100%","data-ratio" => "800/600"}
    = image_tag @article.image1_url if @article.image1_url
    = image_tag @article.image2_url if @article.image2_url
    = image_tag @article.image3_url if @article.image3_url
    = image_tag @article.image4_url if @article.image4_url
%p
  %b Auteur: 
  = @auteur.name 
  = @auteur.firstname
%p
  %b Date de création :
  = @article.created_at.to_formatted_s(:long_ordinal)

%p
  %b Derniere update :
  = @article.updated_at.to_formatted_s(:long_ordinal)
%p
  Il y a 
  = Time.now.day.to_i - @article.updated_at.day
  jours.	
=======================
%p 
  - if @pas_lauteur
    %b Signaler l'annonce comme étant abusive:
    = button_to "Send Email", report_article_path(@article)


= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
