%h3 User
%p
  Prénom: #{@user.firstname if (@user && @user.firstname)}
%p
  Nom: #{@user.name if (@user && @user.name)}
%p
  Promotion: #{@user.promo if (@user && @user.promo)}
%p
  Email: #{@user.email if (@user && @user.email)}
%p
  Numéro de téléphone: #{@user.phonenumber if (@user && @user.phonenumber)}
%p
  Avatar:
  - unless current_user.avatar_url.nil?
    = image_tag @user.avatar_url
    %br/
